*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

.body {
    font-family: 'Courier New', Courier, monospace;
}

.App {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}